<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">	
	<link rel="stylesheet" href="/css/admin/main.css">
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
</head>
<body>
	<!-- Main -->
	<div id="main">
		{{{body}}}
	</div>
</body>
<script type="text/javascript" data-main="/js/admin/login.js" src="/vendor/requirejs/require.js">
	
</script>
{{{_sections.require}}}
</html>