<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/admin/main.css">
	{{{_sections.mixStyle}}}
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
</head>
<body>
	<!-- Main -->
	<article id="main">
		{{{body}}}
	</article>
</body>
{{{_sections.require}}}
</html>